* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(18, 17, 17);
    color: rgb(10, 242, 10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 80%;
    height: 40vh;
    display: flex;
    /* margin-left: 100px; */
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.heading-block {
    height: 11em;
}

.heading {
    font-size: 2.5em;
}

@media (max-width: 1100px) {
    .heading {
        font-size: 1.8em;
    }
    .heading-block {
        height: 8em;
    }
}

@media (max-width: 800px) {
    .heading {
        font-size: 1.2em;
    }
    .heading-block {
        height: 6em;
    }
}

@media (max-width: 600px) {
    .heading {
        font-size: 1em;
    }
}

.gen-btn {
    padding: 0.7em;
    border-radius: 0.4em;
    background-color: white;
    font-size: 1em;
    transition: all 0.3s ease;
}

.gen-btn:hover {
    background-color: rgb(239, 255, 10);
    cursor: pointer;
}

@media (max-width: 1100px) {
    .gen-btn {
        padding: 0.4em;
        border-radius: 0.2em;
        font-size: 0.9em;
    }
}

@media (max-width: 800px) {
    .gen-btn {
        padding: 0.2em;
        border-radius: 0.1em;
        font-size: 0.8em;
    }
}