* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.heading {
    margin-bottom: 30px;
    font-size: 40px;
}

.label {
    font-size: 32px;
}

.input {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.btn {
    display: block;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(0, 189, 236);
    transition : all 1s ease;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgb(10, 105, 222);
    color: white;
}

.result {
    margin-top: 50px;
    font-size: 20px;
}





