* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: azure;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    height: 100px;
    width: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.reset {
    padding: 6px;
    border-radius: 2px;
    font-size: 16px;
    border: none;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}

.reset:hover {
    background-color: rgb(97, 97, 97);
    color: azure;
}
