* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #F5F1DC;
    color: white;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid white;
    padding: 50px;
    border-radius: 10px;
    width: 400px;
    background-color: #0046FF;
}

.main-heading {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

.label {
    margin-bottom: 10px;
    font-size: 20px;
}

.ipt {
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 8px;
}

.result {
    background-color: #3c6ffc;
    width: 100%;
    border-radius: 4px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #f27131;
    color: white;
    transition: all 1s ease-out;
}

.btn:hover {
    background-color: #ff5501;
}